.container {
  margin: auto;
}

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.edit {
  color: rgb(0, 153, 255);
}

.delete {
  color: red;
}

mat-radio-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.mat-cell {
  cursor: pointer;
}

.mat-column-actions {
  width: 80px;
  text-align: center;
  font-weight: bold;
}

.mat-cell-wrapper {
  display: flex;
  justify-content: center;
}

.mat-cell-wrapper button {
  width: 48px;
  height: 48px;
}

a {
  cursor: pointer;
}
