<mat-card>
  <mat-card-header>
    <mat-card-title
      >{{
        holdingId
          ? "Editar " + holding.fantasyName
          : "Cadastrar Rede de Empresas"
      }}
    </mat-card-title>
    <mat-card-subtitle>Formulário para cadastramento</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form class="form">
      <!-- Colunas -->
      <mat-grid-list cols="2" rowHeight="100px">
        <!-- Coluna 1 -->
        <mat-grid-tile colspan="1">
          <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Nome Fantasia</mat-label>
            <input
              [(ngModel)]="holding.fantasyName"
              name="fantasyName"
              [formControl]="fantasyName"
              required
              matInput
              placeholder="Ex. Nome da Holding"
              maxlength="Rede de Supermercados"
            />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <!-- Coluna 2 -->
        <mat-grid-tile colspan="1">
          <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Selecione um Segmento</mat-label>
            <mat-select
              [(ngModel)]="holding.segmentId"
              name="segment"
              [formControl]="segment"
              required
            >
              <mat-option
                *ngFor="let segment of segments"
                value="{{ segment.id }}"
                >{{ segment.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button
      (click)="openHoldingForm()"
      [disabled]="!validateFields()"
      class="success-button mat-elevation-z4"
      mat-raised-button
      extended
      matTooltip="Salvar as informações preenchidas"
    >
      <mat-icon>check</mat-icon> SALVAR
    </button>
    <button
      *ngIf="holdingId"
      routerLink="../../"
      class="mat-elevation-z4"
      mat-raised-button
      color="warn"
      extended
      matTooltip="Cancelar as informações preenchidas e voltar a página"
    >
      <mat-icon>block</mat-icon> CANCELAR
    </button>
    <button
      *ngIf="!holdingId"
      routerLink="../"
      class="mat-elevation-z4"
      mat-raised-button
      color="warn"
      extended
      matTooltip="Cancelar as informações preenchidas e voltar a página"
    >
      <mat-icon>block</mat-icon> CANCELAR
    </button>
  </mat-card-actions>
</mat-card>
