<mat-list>
  <div mat-subheader>Rotinas:</div>
  <div mat-subheader *ngIf="routines.length == 0">
    Ainda não há rotinas vinculadas a esta função
  </div>

  <mat-list-item *ngFor="let routine of routines">
    <div mat-line>{{ routine.name }}</div>
    <div mat-line>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let tag of tags"
            [value]="tag"
            [disabled]="!isCurrentDay"
            [ngClass]="tag.class"
            [checked]="tag.id == routine.tag?.id"
            [matTooltip]="tag.description"
            (change)="updateSelectedTag(routine, tag)"
          ></mat-radio-button>
        </mat-radio-group>
      </mat-radio-group>
    </div>
    <div mat-line>
      <mat-chip-list>
        <mat-chip
          color="accent"
          selected
          *ngIf="routine.tag"
          (click)="handleOpenDescription(routine)"
        >
          Notificação
        </mat-chip>
      </mat-chip-list>
    </div>
    <div mat-line>
      <mat-divider></mat-divider>
    </div>
  </mat-list-item>
</mat-list>

<!-- <div class="person-routines-container">
  <div class="person-routine-list" *ngIf="routines.length; else noRoutineData">
    <div class="person-routine-list__item" *ngFor="let routine of routines">
      <label
        ><strong>{{ routine.name }}</strong></label
      >
      <div class="routine-appointment-wrapper">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let tag of tags"
            [value]="tag"
            [disabled]="!isCurrentDay"
            [ngClass]="tag.class"
            [checked]="tag.id == routine.tag?.id"
            [matTooltip]="tag.description"
            (change)="updateSelectedTag(routine, tag)"
          ></mat-radio-button>
        </mat-radio-group>
        <i
          class="material-icons edit"
          *ngIf="routine.tag"
          (click)="handleOpenDescription(routine)"
          >chat</i
        >
      </div>
    </div>
  </div>
  <ng-template #noRoutineData>
    <div>
      <span>Ainda não há rotinas vinculadas a esta função</span>
    </div>
  </ng-template>
</div> -->
