.container {
  margin: 16px;
}

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.example-radio-group {
  display: flex;
  flex-direction: initial;
  align-items: flex-start;
}

.example-radio-button {
  margin: 10px;
}

.person-routines-container,
.person-tasks-container,
.person-assignments-container {
  margin-top: 8px;
}
.person-routine-list__title,
.person-task-list__title,
.person-assignment-list__title {
  font-size: 16px;
  margin-bottom: 8px;
  display: flex;
}

.edit {
  color: rgb(0, 153, 255);
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit:hover {
  color: rgb(115, 199, 255);
}

.routine-appointment-wrapper,
.task-appointment-wrapper,
.assignment-appointment-wrapper {
  display: flex;
  align-items: center;
}

.person-routines-container,
.person-tasks-container,
.person-assignments-container {
  margin-bottom: 16px;
}
