<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Colaboradores</mat-card-title>
    <mat-card-subtitle>Listagem</mat-card-subtitle>
  </mat-card-header>

  <!-- Content with Element_Data is empty -->
  <mat-card-content *ngIf="ELEMENT_DATA.length == 0 && !isLoading">
    <!-- Divider -->
    <mat-divider></mat-divider>

    <img
      src="../../../../assets/img/empty-box.png"
      alt=""
      width="256"
      height="256"
    />
    <h3>Não existem Colaboradores cadastrados</h3>
  </mat-card-content>

  <!-- Content with Element_Data is not empty -->
  <mat-card-content *ngIf="ELEMENT_DATA.length != 0 && !isLoading">
    <!-- Divider -->
    <mat-divider></mat-divider>

    <!-- Colunas -->
    <mat-grid-list cols="4" rowHeight="100px">
      <!-- Coluna 1 -->
      <mat-grid-tile colspan="2">
        <mat-form-field appearance="standard">
          <mat-label>Consulte o Colaborador</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input />
        </mat-form-field>
      </mat-grid-tile>

      <!-- Coluna 2 -->
      <mat-grid-tile colspan="1"></mat-grid-tile>

      <!-- Coluna 3 -->
      <mat-grid-tile colspan="1">
        <button routerLink="create" mat-raised-button color="primary">
          Cadastrar Colaborador
        </button>
      </mat-grid-tile>
    </mat-grid-list>

    <!-- Divider -->
    <mat-divider></mat-divider>

    <!-- Tabela -->
    <div class="container">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td
              mat-cell
              *matCellDef="let element"
              (click)="openAppointment(element.id)"
            >
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fantasyName">
            <th mat-header-cell *matHeaderCellDef>Unidade</th>
            <td
              mat-cell
              *matCellDef="let element"
              (click)="editPerson(element.id)"
            >
              {{ element?.office?.fantasyName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="responsibility">
            <th mat-header-cell *matHeaderCellDef>Cargo</th>
            <td
              mat-cell
              *matCellDef="let element"
              (click)="editPerson(element.id)"
            >
              {{ element.responsibility.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="routines">
            <th mat-header-cell *matHeaderCellDef>Rotinas</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                (click)="findRoutinesByPerson(element.id)"
                aria-label="Example icon-button with a menu"
                matTooltip="Visualize todas as Rotinas para esse Colaborador"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="goals">
            <th mat-header-cell *matHeaderCellDef>Metas</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                (click)="findGoalsByPerson(element.id)"
                aria-label="Example icon-button with a menu"
                matTooltip="Visualize todas as Metas para esse Colaborador"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
                matTooltip="Editar ou Desativar o Colaborador"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="edit/{{ element.id }}">
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button
                  mat-menu-item
                  (click)="
                    openDeleteConfirmationModal(element.id);
                    $event.stopPropagation()
                  "
                >
                  <mat-icon>delete</mat-icon>
                  <span>Desativar</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 2, 10, 20, 50, 100]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </mat-card-content>

  <mat-card-footer>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
