<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Registrar Ocorrência</mat-card-title>
    <mat-card-subtitle>Colaborador - {{ person.name }}</mat-card-subtitle>
    <mat-card-subtitle>Dia: {{ today }}</mat-card-subtitle>
  </mat-card-header>

  <div class="grid-first-container">
    <mat-tab-group
      dynamicHeight
      [selectedIndex]="selectedTab.value"
      (selectedIndexChange)="selectedTab.setValue($event)"
    >
      <!-- Diária -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon *ngIf="selectedTab.value == 0" class="example-tab-icon"
            >arrow_right</mat-icon
          >
          Diária
        </ng-template>
        <div class="container" *ngFor="let activity of activitiesDailyResponse">
          <div class="item">
            <p>{{ activity.name }}</p>
          </div>
          <div class="item">
            <mat-radio-group>
              <mat-radio-button
                name="daily"
                *ngFor="let tag of tags"
                value="{{ tag.id }}"
                class="daily"
                [ngClass]="tag.class"
                [checked]="tag.id == activity.tag?.id"
                (click)="openConfirm(tag.id, activity)"
                matTooltip="{{ tag.description }}"
              ></mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-tab>

      <!-- Mensal -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon *ngIf="selectedTab.value == 1" class="example-tab-icon"
            >arrow_right</mat-icon
          >
          Mensal
        </ng-template>
        <mat-card class="example-large-box demo-inline-calendar-card">
          <mat-calendar
            [(selected)]="selected"
            [dateClass]="dateClass"
            (click)="openDialog()"
            [minDate]="firstDay"
            [maxDate]="lastDay"
          ></mat-calendar>
        </mat-card>
      </mat-tab>

      <!-- Trimestral -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon *ngIf="selectedTab.value == 2" class="example-tab-icon"
            >arrow_right</mat-icon
          >
          Trimestral
        </ng-template>
        <div class="example-large-box mat-elevation-z4">
          <h2 align="center" style="color: orange">January 2021</h2>
          <br />
          <table
            bgcolor="lightgrey"
            align="center"
            cellspacing="21"
            cellpadding="21"
          >
            <caption align="top"></caption>

            <thead>
              <tr>
                <th style="color: white; background: purple">Sun</th>
                <th style="color: white; background: purple">Mon</th>
                <th style="color: white; background: purple">Tue</th>
                <th style="color: white; background: purple">Wed</th>
                <th style="color: white; background: purple">Thu</th>
                <th style="color: white; background: purple">Fri</th>
                <th style="color: white; background: purple">Sat</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td>2</td>
              </tr>
              <tr></tr>
              <tr>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
              </tr>
              <tr>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
              </tr>
              <tr>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
                <td>21</td>
                <td>22</td>
                <td>23</td>
              </tr>
              <tr>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td>30</td>
              </tr>
              <tr>
                <td>31</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>

      <!-- Semestral -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon *ngIf="selectedTab.value == 3" class="example-tab-icon"
            >arrow_right</mat-icon
          >
          Semestral
        </ng-template>
        <div class="example-large-box mat-elevation-z4">
          <h2 align="center" style="color: orange">January 2021</h2>
          <br />
          <table
            bgcolor="lightgrey"
            align="center"
            cellspacing="21"
            cellpadding="21"
          >
            <!-- The tr tag is used to enter
            rows in the table -->

            <!-- It is used to give the heading to the
            table. We can give the heading to the
            top and bottom of the table -->

            <caption align="top">
              <!-- Here we have used the attribute
                that is style and we have colored
                the sentence to make it better
                depending on the web page-->
            </caption>

            <!-- Here th stands for the heading of the
            table that comes in the first row-->

            <!-- The text in this table header tag will
            appear as bold and is center aligned-->

            <thead>
              <tr>
                <!-- Here we have applied inline style
                     to make it more attractive-->
                <th style="color: white; background: purple">Sun</th>
                <th style="color: white; background: purple">Mon</th>
                <th style="color: white; background: purple">Tue</th>
                <th style="color: white; background: purple">Wed</th>
                <th style="color: white; background: purple">Thu</th>
                <th style="color: white; background: purple">Fri</th>
                <th style="color: white; background: purple">Sat</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td>2</td>
              </tr>
              <tr></tr>
              <tr>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
              </tr>
              <tr>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
              </tr>
              <tr>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
                <td>21</td>
                <td>22</td>
                <td>23</td>
              </tr>
              <tr>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td>30</td>
              </tr>
              <tr>
                <td>31</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>
