mat-card {
  width: 90%;
  justify-content: center;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

// FIRST COLUMNS
.grid-first-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-item {
  text-align: center;
}

.grid-item-column {
  display: grid;
  grid-template-columns: auto auto;
}

// mat-tab-group {
//   margin-top: 50px;
//   margin-bottom: 50px;
// }

.example-small-box,
.example-large-box {
  display: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  display: row;
  height: fit-content;
  width: fit-content;
}

.example-large-box {
  height: fit-content;
  width: fit-content;
}

table {
  border-collapse: collapse;
  background: white;
  color: black;
}

th,
td {
  font-weight: bold;
}

.calendar-title {
  text-align: center;
  color: black;
}

.calendar-table {
  background-color: whitesmoke;
  text-align: center;
}

.calendar-table-th {
  background-color: darkgrey;
  color: black;
  border: solid 1px;
}

.calendar-table-td-yellow {
  background-color: yellow;
  color: white;
  border: solid 1px;
}

.calendar-table-td-red {
  background-color: red;
  color: white;
  border: solid 1px;
}

.calendar-table-td-orange {
  background-color: orange;
  color: white;
  border: solid 1px;
}

.calendar-table-td-green {
  background-color: green;
  color: white;
  border: solid 1px;
}

.calendar-table-td-blue {
  background-color: blue;
  color: white;
  border: solid 1px;
}

.demo-inline-calendar-card {
  width: fit-content;
  height: fit-content;
  align-items: start;
}

.mat-calendar {
  align-items: start;
  align-content: start;
  align-self: self-start;
}

::ng-deep .green-background .mat-calendar-body-cell-content {
  border-color: #7cfc00 !important;
  color: #58af04 !important;
  transition: all 0.3s ease;
  background-color: #e7ffd1;
}

::ng-deep .blue-background .mat-calendar-body-cell-content {
  border-color: blue !important;
  color: white !important;
  transition: all 0.3s ease;
  background-color: blue;
}

::ng-deep .orange-background .mat-calendar-body-cell-content {
  border-color: orange !important;
  color: black !important;
  transition: all 0.3s ease;
  background-color: orange;
}

::ng-deep .yellow-background .mat-calendar-body-cell-content {
  border-color: yellow !important;
  color: black !important;
  transition: all 0.3s ease;
  background-color: yellow;
}

::ng-deep .red-background .mat-calendar-body-cell-content {
  border-color: brown !important;
  color: white !important;
  transition: all 0.3s ease;
  background-color: firebrick;
}

// Blue rb
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked.blue-background .mat-radio-outer-circle  {
  border-color: blue;
}
::ng-deep .mat-radio-button.mat-accent.blue-background .mat-radio-inner-circle {
  background-color: blue;
}
// Green rb
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked.green-background .mat-radio-outer-circle  {
  border-color: green;
}
::ng-deep .mat-radio-button.mat-accent.green-background .mat-radio-inner-circle {
  background-color: green;
}
// Yellow rb
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked.yellow-background .mat-radio-outer-circle  {
  border-color: yellow;
}
::ng-deep .mat-radio-button.mat-accent.yellow-background .mat-radio-inner-circle {
  background-color: yellow;
}
// Orange rb
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked.orange-background .mat-radio-outer-circle  {
  border-color: orangered;
}
::ng-deep .mat-radio-button.mat-accent.orange-background .mat-radio-inner-circle {
  background-color: orangered;
}
// Red rb
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked.red-background .mat-radio-outer-circle  {
  border-color: red;
}
::ng-deep .mat-radio-button.mat-accent.red-background .mat-radio-inner-circle {
  background-color: red;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.item {
  flex-grow: 1;
  flex-basis: 100px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
