<mat-card class="card mat-elevation-z8">
  <div class="wrapper">
    <!-- One -->
    <div>
      <mat-card-header>
        <mat-card-title>Registrar Ocorrência</mat-card-title>
        <mat-card-subtitle>Colaborador - {{ person.name }}</mat-card-subtitle>
        <mat-card-subtitle>
          <button mat-raised-button (click)="openTask()">Tarefa</button>
          <button mat-raised-button (click)="openAchieve()">Meta</button>
        </mat-card-subtitle>

        <mat-card-subtitle
          ><strong>Dia: {{ today }}</strong>
        </mat-card-subtitle>
      </mat-card-header>

      <!-- Tabs -->
      <div class="grid-first-container">
        <mat-tab-group
          dynamicHeight
          [selectedIndex]="selectedTab.value"
          (selectedIndexChange)="selectedTab.setValue($event)"
        >
          <!-- Diária -->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon *ngIf="selectedTab.value == 0" class="example-tab-icon"
                >arrow_right</mat-icon
              >
              Diária
            </ng-template>
            <section class="monthly-container mat-elevation-z2" tabindex="0">
              <table mat-table [dataSource]="dataSource">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <p>
                      {{
                        element.name.length > this.maxCharacters
                          ? element.name.substring(0, this.maxCharacters) +
                            "..."
                          : element.name
                      }}
                    </p>
                  </td>
                </ng-container>

                <ng-container matColumnDef="radio">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <mat-radio-group>
                      <mat-radio-button
                        name="daily"
                        *ngFor="let tag of tags"
                        value="{{ tag.id }}"
                        class="daily"
                        [ngClass]="tag.class"
                        [checked]="tag.id == element.tag?.id"
                        (click)="openConfirm(tag.id, element)"
                        matTooltip="{{ tag.description }}"
                      ></mat-radio-button>
                    </mat-radio-group>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
            </section>
          </mat-tab>

          <!-- Mensal -->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon *ngIf="selectedTab.value == 1">arrow_right</mat-icon>
              Mensal
            </ng-template>
            <div class="grid-container">
              <div>
                <mat-calendar
                  [(selected)]="selected"
                  [dateClass]="dateClassCurrentMonth"
                  (click)="openDialog()"
                  [minDate]="firstDay"
                  [maxDate]="lastDay"
                ></mat-calendar>
              </div>
            </div>
          </mat-tab>

          <!-- Trimestral -->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon *ngIf="selectedTab.value == 2">arrow_right</mat-icon>
              Trimestral
            </ng-template>
            <div class="grid-container">
              <div>
                <mat-calendar
                  [(selected)]="selected"
                  [dateClass]="dateClassLastTwoMonth"
                  (click)="openDialog()"
                  [minDate]="firstDayLastTwoMonth"
                  [maxDate]="lastDayLastTwoMonth"
                ></mat-calendar>
              </div>
              <div>
                <mat-calendar
                  [(selected)]="selected"
                  [dateClass]="dateClassLastMonth"
                  (click)="openDialog()"
                  [minDate]="firstDayLastMonth"
                  [maxDate]="lastDayLastMonth"
                ></mat-calendar>
              </div>
              <div>
                <mat-calendar
                  [(selected)]="selected"
                  [dateClass]="dateClassCurrentMonth"
                  (click)="openDialog()"
                  [minDate]="firstDay"
                  [maxDate]="lastDay"
                ></mat-calendar>
              </div>
            </div>
          </mat-tab>

          <!-- Semestral -->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon *ngIf="selectedTab.value == 3" class="example-tab-icon"
                >arrow_right</mat-icon
              >
              Semestral
            </ng-template>
            <div class="grid-container">
              <div>
                <mat-calendar
                  [(selected)]="selected"
                  [dateClass]="dateClassLastFiveMonth"
                  (click)="openDialog()"
                  [minDate]="firstDayLastFiveMonth"
                  [maxDate]="lastDayLastFiveMonth"
                ></mat-calendar>
              </div>
              <div>
                <mat-calendar
                  [(selected)]="selected"
                  [dateClass]="dateClassLastFourMonth"
                  (click)="openDialog()"
                  [minDate]="firstDayLastFourMonth"
                  [maxDate]="lastDayLastFourMonth"
                ></mat-calendar>
              </div>
              <div>
                <mat-calendar
                  [(selected)]="selected"
                  [dateClass]="dateClassLastThreeMonth"
                  (click)="openDialog()"
                  [minDate]="firstDayLastThreeMonth"
                  [maxDate]="lastDayLastThreeMonth"
                ></mat-calendar>
              </div>
            </div>
            <div class="grid-container">
              <div>
                <mat-calendar
                  [(selected)]="selected"
                  [dateClass]="dateClassLastTwoMonth"
                  (click)="openDialog()"
                  [minDate]="firstDayLastTwoMonth"
                  [maxDate]="lastDayLastTwoMonth"
                ></mat-calendar>
              </div>
              <div>
                <mat-calendar
                  [(selected)]="selected"
                  [dateClass]="dateClassLastMonth"
                  (click)="openDialog()"
                  [minDate]="firstDayLastMonth"
                  [maxDate]="lastDayLastMonth"
                ></mat-calendar>
              </div>
              <div>
                <mat-calendar
                  [(selected)]="selected"
                  [dateClass]="dateClassCurrentMonth"
                  (click)="openDialog()"
                  [minDate]="firstDay"
                  [maxDate]="lastDay"
                ></mat-calendar>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <!-- Two -->
    <div>
      <mat-card-header>
        <mat-card-title>
          <img
            [lazyLoad]="person.picture"
            defaultImage="https://s3.amazonaws.com/37assets/svn/765-default-avatar.png"
            alt=""
            width="200"
            height="200"
          />
        </mat-card-title>
        <mat-card-title> Nome: {{ person.name }} </mat-card-title>
        <mat-card-title>
          Empresa: {{ person.office.fantasyName }}
        </mat-card-title>
        <mat-card-title>
          Função: {{ person.responsibility.name }}
        </mat-card-title>
        <mat-card-subtitle>
          <a href="">FICHA DE CONTRATAÇÃO</a>
        </mat-card-subtitle>
        <mat-card-subtitle>
          <a href="">DOCUMENTOS PESSOAIS</a>
        </mat-card-subtitle>
        <mat-card-subtitle>
          <a href="">CURRÍCULO</a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>

      <h3>Digite uma mensagem para o Colaborador:</h3>
      <mat-form-field appearance="outline">
        <mat-label>Mensagem:</mat-label>
        <textarea
          matInput
          placeholder="Digite uma mensagem para o Colaborador"
          rows="5"
          [(ngModel)]="message.description"
          [formControl]="messageFormControl"
        ></textarea>
      </mat-form-field>
      <button
        class="success-button"
        mat-raised-button
        [mat-dialog-close]="true"
        cdkFocusInitial
        (click)="sendMessage()"
        [disabled]="!validateFields()"
        matTooltip="Salvar as informações preenchidas"
      >
        <div>Enviar</div>
      </button>
    </div>

    <!-- Three -->
    <div></div>

    <!-- Four -->
    <div></div>
  </div>
</mat-card>
