# EditorConfig, padrão para formatação de código
root = true

[*]
# Identação: 2 ou 4 espaços
indent_style = space
indent_size = 2

# Final de linha
end_of_line = lf

# Codificação
charset = utf-8

# Remover espaços em branco no final de linhas
trim_trailing_whitespace = true

# Adicionar nova linha no final de arquivos
insert_final_newline = true

# Máximo de largura de linha (opcional, útil para Markdown)
max_line_length = 120

[*.md]
# Markdown geralmente utiliza largura de linha maior e permite espaços no final
trim_trailing_whitespace = false


[*.js]
indent_size = 2

[*.html]
indent_size = 2

[*.py]
indent_size = 4
