<div class="container">

  <h1>Ocorrências</h1>

  <button routerLink="create" class="mat-elevation-z8" mat-stroked-button color="primary">Nova ocorrência</button>

  <mat-form-field appearance="standard">
     <mat-label>Filter</mat-label>
     <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
   </mat-form-field>

  <div class="mat-elevation-z8">

     <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
           <th mat-header-cell *matHeaderCellDef> ID </th>
           <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
           <th mat-header-cell *matHeaderCellDef> Descrição </th>
           <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="person">
           <th mat-header-cell *matHeaderCellDef> Pessoa </th>
           <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
        </ng-container>

        <ng-container matColumnDef="tag">
           <th mat-header-cell *matHeaderCellDef> Etiqueta </th>
           <td mat-cell *matCellDef="let element"> {{element.nomeTecnico}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
           <th mat-header-cell *matHeaderCellDef> Data de Abertura </th>
           <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
        </ng-container> -->

        <ng-container matColumnDef="acoes">
           <th mat-header-cell *matHeaderCellDef> Ações </th>
           <td mat-cell *matCellDef="let element">
              <a routerLink="update/{{ element.id }}">
                 <i class="material-icons edit">edit</i>
              </a>
              <a routerLink="read/{{ element.id }}">
                 <i class="material-icons delete">visibility</i>
              </a>
           </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>

     <mat-paginator [pageSizeOptions]="[5, 2, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>

</div>
