.container {
  margin: 16px;
  padding: 1rem;
  border-radius: .6rem;
}

.fullWidth {
  width: 100%;
}

h1, p {
  text-align: center;
}

img {
  height: 12rem;
  margin: auto;
}

.section {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: .5rem;
}

p {
  margin-top: 4rem;
  opacity: .5;
}

mat-icon {
  opacity: .8;
}

table {
  width: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.table-header span {
  display: flex;
  align-items: center;
}

.table-actions {
  display: flex;
  align-items: center;
}

:host ::ng-deep mat-form-field#addRoutineDropdown {
  margin-right: 16px;
}

:host ::ng-deep mat-form-field#addRoutineDropdown .mat-form-field-wrapper {
  margin: 0;
  padding: 0;
}

:host ::ng-deep mat-form-field#addTaskDropdown {
  margin-right: 16px;
}

:host ::ng-deep mat-form-field#addTaskDropdown .mat-form-field-wrapper {
  margin: 0;
  padding: 0;
}

:host ::ng-deep mat-form-field#addAssignmentDropdown {
  margin-right: 16px;
}

:host ::ng-deep mat-form-field#addAssignmentDropdown .mat-form-field-wrapper {
  margin: 0;
  padding: 0;
}

.file-drop-container {
  margin: 16px;
  display: flex;
  align-items: center;
}

.file-drop {
  flex: 1;
}

.upload-table-container {
  flex: 1;
}

.upload-table {
  margin-left: 16px;
}

#browseFilesButton {
  margin: 0 0 0 16px;
}

:host ::ng-deep .file-drop .ngx-file-drop__drop-zone {
  transition: background-color 0.3s ease-in-out;
}

:host ::ng-deep .file-drop .ngx-file-drop__drop-zone--over {
  background-color: rgba(37,97,207,0.3);
}