<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Sistema Mérito</mat-card-title>
    <mat-card-subtitle>O seu sistema de controle de meritocracia</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/home-image.svg" alt="Image Home Sistema Mérito">
  <mat-card-content>
    <p>
     Olá! Seja bem vindo ao sistema Mérito.<br/>
     Aqui é onde todo o controle da sua empresa está na palma da sua mão. Nós iremos te ajudar a ter uma administração apurada a respeito dos seus Colaboradores.
     <br /><br /> Fique a vontade para usar o sistema e deixar sua sugestão.
     <br /> Equipe Mérito
    </p>
  </mat-card-content>
</mat-card>
