.container {
  width: 500px;
  text-align: center;
}

section {
  display: table;
}

mat-divider {
  margin-top: 30px;
}

mat-form-field {
  width: 400px;
}

.success-button {
  background-color: var(--success);
  color: var(--white);
}

.cancel-button {
  background-color: var(--warn);
  color: var(--white);
}
