<div class="container mat-elevation-z8">

  <form class="form">

    <h1 class="fullWidth">Tabela de Avaliação</h1>

    <mat-form-field class="fourColumn" appearance="outline">
      <mat-label>Unidade</mat-label>
      <mat-select
        [(ngModel)]="companyId"
        name="holding"
        [formControl]="company"
        required
        (selectionChange)="findAllDepartments($event.value)"
        (selectionChange)="findAllPersonByCompany($event.value)"
        #companySelected
        >
      <mat-option *ngFor="let company of companies" value="{{ company.id }}">{{ company.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="fourColumn" appearance="outline">
      <mat-label>Departamento</mat-label>
      <mat-select
        [(ngModel)]="departmentId"
        name="holding"
        [formControl]="department"
        required>
      <mat-option *ngFor="let department of departments" value="{{ department.id }}">{{ department.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field class="fullWidth" appearance="outline">
      <mat-label>Função</mat-label>
      <mat-select
        [(ngModel)]="sectorId"
        name="holding"
        [formControl]="sector"
        required>
      <mat-option *ngFor="let sector of sectors" value="{{ sector.id }}">{{ sector.name }}</mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field class="fourColumn" appearance="outline">
      <mat-label>Profissional</mat-label>
      <mat-select
        [(ngModel)]="personId"
        name="holding"
        [formControl]="person"
        required>
      <mat-option *ngFor="let person of persons" value="{{ person.id }}">{{ person.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button (click)="search()" class="fourColumn" mat-flat-button color="primary">Pesquisar</button>
  </form>

  <mat-tab-group *ngIf="isSelected" animationDuration="0ms">

    <!-- Tab 1-->
    <mat-tab label="Diária">

      <br>
      <label><strong>Liderança:</strong></label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="favoriteSeason">
        <mat-radio-button class="example-radio-button">Falha Grave</mat-radio-button>
        <mat-radio-button class="example-radio-button">Alerta</mat-radio-button>
        <mat-radio-button class="example-radio-button">Atenção</mat-radio-button>
        <mat-radio-button class="example-radio-button">Dever cumprido</mat-radio-button>
        <mat-radio-button class="example-radio-button">Excelente</mat-radio-button>
      </mat-radio-group>
      <br>

    </mat-tab>

    <!-- Tab 2 -->
    <mat-tab label="Mensal">Content 2</mat-tab>

    <!-- Tab 3 -->
    <mat-tab label="Trimestral">Content 3</mat-tab>

    <!-- Tab 4 -->
    <mat-tab label="Semestral">Content 3</mat-tab>
  </mat-tab-group>

</div>
