.container {
  width: 90%;
  margin: auto;
  padding: 1rem;
  border-radius: .6rem;
}

.fullWidth {
  width: 100%;
  margin-bottom: 2rem;
}

.halfWidth {
  width: 50%;
  margin-right: 1rem;
  justify-content: space-between;
}

.fourColumn {
  width: 25%;
  padding-right: 10px;
  display: table-cell;
}

h1, p {
  text-align: center;
}

img {
  height: 12rem;
  margin: auto;
}

.section {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: .5rem;
}

p {
  margin-top: 4rem;
  opacity: .5;
}

mat-icon {
  opacity: .8;
}

form {
  margin-bottom: 3rem;
}

.example-radio-group {
  display: flex;
  flex-direction: initial;
  align-items: flex-start;
}

.example-radio-button {
  margin: 10px;
}
