:root {
  --primary: #3f51b5;
  --accent: #ff4081;
  --warn: #f44336;
  --red-appointment: #f44336;
  --orange-appointment: #ff723b;
  --yellow-appointment: #ffd700;
  --green-appointment: #7cfc00;
  --blue-appointment: #36aad7;
}

.container {
  margin: 16px;
  padding: 1rem;
  border-radius: .6rem;
}

.fullWidth {
  width: 100%;
  margin-bottom: 2rem;
}

.halfWidth {
  width: 50%;
  margin-right: 1rem;
  justify-content: space-between;
}

.fourColumn {
  width: 25%;
  padding-right: 10px;
  display: table-cell;
}

h1, p {
  text-align: center;
}

img {
  height: 12rem;
  margin: auto;
}

.section {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: .5rem;
}

p {
  margin-top: 4rem;
  opacity: .5;
}

mat-icon {
  opacity: .8;
}

form {
  margin-bottom: 1rem;
}

::ng-deep .example-radio-button.red-appointment.mat-radio-checked .mat-radio-outer-circle {
  border-color: #f44336; 
}

::ng-deep .example-radio-button.red-appointment .mat-radio-inner-circle {
  background-color: #f44336;
}

::ng-deep .example-radio-button.red-appointment.mat-radio-checked .mat-radio-persistent-ripple {
  background-color: #f44336;
}

::ng-deep .example-radio-button.orange-appointment.mat-radio-checked .mat-radio-outer-circle{
  border-color: #ff723b; 
}

::ng-deep .example-radio-button.orange-appointment .mat-radio-inner-circle {
  background-color: #ff723b;
}

::ng-deep .example-radio-button.orange-appointment.mat-radio-checked .mat-radio-persistent-ripple {
  background-color: #ff723b;
}

::ng-deep .example-radio-button.yellow-appointment.mat-radio-checked .mat-radio-outer-circle{
  border-color: #d3b614; 
}

::ng-deep .example-radio-button.yellow-appointment .mat-radio-inner-circle {
  background-color: #d3b614;
}

::ng-deep .example-radio-button.yellow-appointment.mat-radio-checked .mat-radio-persistent-ripple {
  background-color: #d3b614;
}

::ng-deep .example-radio-button.green-appointment.mat-radio-checked .mat-radio-outer-circle{
  border-color: #7cfc00; 
}

::ng-deep .example-radio-button.green-appointment .mat-radio-inner-circle {
  background-color: #7cfc00;
}

::ng-deep .example-radio-button.green-appointment.mat-radio-checked .mat-radio-persistent-ripple {
  background-color: #7cfc00;
}

::ng-deep .example-radio-button.blue-appointment.mat-radio-checked .mat-radio-outer-circle{
  border-color: #36aad7; 
}

::ng-deep .example-radio-button.blue-appointment .mat-radio-inner-circle {
  background-color: #36aad7;
}

::ng-deep .example-radio-button.blue-appointment.mat-radio-checked .mat-radio-persistent-ripple {
  background-color: #36aad7;
}

.monthly-content-wrapper {
  display: flex;
  width: 100%;
}

.daily-appointments-wrapper {
  flex: 2;
  padding: 16px;
}

.appointments-calendar-wrapper {
  flex: 2;
  padding: 16px;
}

::ng-deep .red-date .mat-calendar-body-cell-content {
  background: #f44336 !important;
}

::ng-deep .orange-date .mat-calendar-body-cell-content {
  background: #ff723b !important;
}

::ng-deep .yellow-date .mat-calendar-body-cell-content {
  background: #d3b614 !important;
}

::ng-deep .green-date .mat-calendar-body-cell-content {
  background: #7cfc00 !important;
}

::ng-deep .blue-date .mat-calendar-body-cell-content {
  background: #36aad7 !important;
}
