.mat-radio-group {
  margin-top: 5px;
  margin-bottom: 20px;
  flex-direction: row;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  margin-bottom: 25px;
}

.mat-typography {
  margin-top: 25px;
}

.mat-divider {
  margin-top: 15px;
}
