.mat-radio-group {
  margin-top: 5px;
  margin-bottom: 20px;
  flex-direction: row;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  margin-bottom: 25px;
}

.mat-typography {
  margin-top: 25px;
}

.mat-divider {
  margin-top: 15px;
}

.example-container {
  height: 200px;
  width: 650px;
  max-width: 100%;
  overflow: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

table {
  width: 100%;
  align-items: center;
}

:host ::ng-deep thead {
  display: none;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

input {
  border: 0;
  outline: 0;
  pointer-events: none;
}
input:focus {
  outline: none !important;
}
