<div *ngFor="let activity of data.activities">
  <mat-radio-group>
    <p>{{ activity.name }}</p>
    <mat-radio-button
      *ngFor="let tag of data.tags"
      value="{{ tag.id }}"
      [ngClass]="tag.class"
      [checked]="tag.id == activity.tag?.id"
      matTooltip="{{ tag.description }}"
      (change)="openConfirm(tag.id, activity)"
      ><mat-icon
        fontIcon="info"
        *ngIf="tag.id == activity.tag?.id"
        (click)="openConfirm(tag.id, activity)"
      ></mat-icon
    ></mat-radio-button>
  </mat-radio-group>
</div>
