.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.spinner {
  border: 8px solid var(--primary);
  border-top: 8px solid var(--white);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.empty {
  width: 100px;
  height: 100px;
}
