mat-grid-tile {
  .mat-grid-tile-content {
    width: 90%;
    justify-content: flex-start;

    mat-form-field {
      width: 100%;
    }
  }
}

mat-grid-list {
  width: 90%;
  margin: auto;
}

.grid-button {
  .mat-grid-tile-content {
    width: 90%;
    justify-content: flex-start;
  }

  button {
    margin-right: 8px;
  }
}

.success-button {
  background-color: green;
  color: white;
}

mat-card {
  width: 90%;
  justify-content: center;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* Solid border */
hr.solid {
  border-top: 0.5px solid #bbb;
}

mat-grid-tile {
  .tab1 {
    height: 10px;
  }
}

:root {
  --primary: #3f51b5;
  --accent: #ff4081;
  --warn: #f44336;
  --red-appointment: #f44336;
  --orange-appointment: #ff723b;
  --yellow-appointment: #ffd700;
  --green-appointment: #7cfc00;
  --blue-appointment: #36aad7;
}

.container {
  margin: 16px;
  padding: 1rem;
  border-radius: 0.6rem;
}

.fullWidth {
  width: 100%;
  margin-bottom: 2rem;
}

.halfWidth {
  width: 50%;
  margin-right: 1rem;
  justify-content: space-between;
}

.fourColumn {
  width: 25%;
  padding-right: 10px;
  display: table-cell;
}

h1,
p {
  text-align: center;
}

img {
  height: 12rem;
  margin: auto;
}

.section {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 0.5rem;
}

p {
  margin-top: 4rem;
  opacity: 0.5;
}

mat-icon {
  opacity: 0.8;
}

form {
  margin-bottom: 1rem;
}

::ng-deep
  .example-radio-button.red-appointment.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #f44336;
}

::ng-deep .example-radio-button.red-appointment .mat-radio-inner-circle {
  background-color: #f44336;
}

::ng-deep
  .example-radio-button.red-appointment.mat-radio-checked
  .mat-radio-persistent-ripple {
  background-color: #f44336;
}

::ng-deep
  .example-radio-button.orange-appointment.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #ff723b;
}

::ng-deep .example-radio-button.orange-appointment .mat-radio-inner-circle {
  background-color: #ff723b;
}

::ng-deep
  .example-radio-button.orange-appointment.mat-radio-checked
  .mat-radio-persistent-ripple {
  background-color: #ff723b;
}

::ng-deep
  .example-radio-button.yellow-appointment.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #d3b614;
}

::ng-deep .example-radio-button.yellow-appointment .mat-radio-inner-circle {
  background-color: #d3b614;
}

::ng-deep
  .example-radio-button.yellow-appointment.mat-radio-checked
  .mat-radio-persistent-ripple {
  background-color: #d3b614;
}

::ng-deep
  .example-radio-button.green-appointment.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #7cfc00;
}

::ng-deep .example-radio-button.green-appointment .mat-radio-inner-circle {
  background-color: #7cfc00;
}

::ng-deep
  .example-radio-button.green-appointment.mat-radio-checked
  .mat-radio-persistent-ripple {
  background-color: #7cfc00;
}

::ng-deep
  .example-radio-button.blue-appointment.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #36aad7;
}

::ng-deep .example-radio-button.blue-appointment .mat-radio-inner-circle {
  background-color: #36aad7;
}

::ng-deep
  .example-radio-button.blue-appointment.mat-radio-checked
  .mat-radio-persistent-ripple {
  background-color: #36aad7;
}

.monthly-content-wrapper {
  display: flex;
  width: 50%;
}

.trimestral-content-wrapper {
  display: flex;
  width: 50%;
}

.semestral-content-wrapper {
  display: flex;
  width: 50%;
}

.daily-appointments-wrapper {
  flex: 2;
  padding: 16px;
}

.appointments-calendar-wrapper {
  /* flex: 2; */
  padding: 10px;
}

.appointments-calendars-list {
  flex-direction: row;
  /* flex: 2; */
}

::ng-deep .red-date .mat-calendar-body-cell-content {
  border-color: #f44336 !important;
  color: #f44336 !important;
  transition: all 0.3s ease;
  background-color: #ffd7d4;
}

::ng-deep .red-date:hover .mat-calendar-body-cell-content {
  background-color: #f44336 !important;
  color: white !important;
}

::ng-deep .red-date .mat-calendar-body-selected {
  background-color: #f44336 !important;
  color: white !important;
}

::ng-deep .orange-date .mat-calendar-body-cell-content {
  border-color: #ff723b !important;
  color: #ff723b !important;
  transition: all 0.3s ease;
  background-color: #fbded3;
}

::ng-deep .orange-date:hover .mat-calendar-body-cell-content {
  background-color: #ff723b !important;
  color: white !important;
}

::ng-deep .orange-date .mat-calendar-body-selected {
  background-color: #ff723b !important;
  color: white !important;
}

::ng-deep .yellow-date .mat-calendar-body-cell-content {
  border-color: #d3b614 !important;
  color: #d3b614 !important;
  transition: all 0.3s ease;
  background-color: #fff6c6;
}

::ng-deep .yellow-date:hover .mat-calendar-body-cell-content {
  background-color: #d3b614 !important;
  color: white !important;
}

::ng-deep .yellow-date .mat-calendar-body-selected {
  background-color: #d3b614 !important;
  color: white !important;
}

::ng-deep .green-date .mat-calendar-body-cell-content {
  border-color: #7cfc00 !important;
  color: #58af04 !important;
  transition: all 0.3s ease;
  background-color: #e7ffd1;
}

::ng-deep .green-date:hover .mat-calendar-body-cell-content {
  background-color: #7cfc00 !important;
  color: white !important;
}

::ng-deep .green-date .mat-calendar-body-selected {
  background-color: #7cfc00 !important;
  color: white !important;
}

::ng-deep .blue-date .mat-calendar-body-cell-content {
  border-color: #36aad7 !important;
  color: #36aad7 !important;
  transition: all 0.3s ease;
  background-color: #c5ecfb;
}

::ng-deep .blue-date:hover .mat-calendar-body-cell-content {
  background-color: #36aad7 !important;
  color: white !important;
}

::ng-deep .blue-date .mat-calendar-body-selected {
  background-color: #36aad7 !important;
  color: white !important;
}
