<div class="container mat-elevation-z8">

  <form class="form">

    <h1 class="fullWidth">{{ responsibilityId ? 'Editar' : 'Cadastrar' }} Funções</h1>

    <img class="fullWidth" src="assets/img/tecnico-create.svg" alt="Cadastrar Funções">

    <mat-form-field class="fullWidth" appearance="legacy">
      <mat-label>Nome</mat-label>
      <input
        [(ngModel)]="responsibility.name"
        name="name"
        [formControl]="name"
        required
        matInput
        placeholder="Ex. Nome da Função"
        maxlength="100" >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <button (click)="openResponsibilityForm()" [disabled]="!validateFields()" class="fullWidth mat-elevation-z4" mat-flat-button color="primary">
      {{ responsibilityId ? 'Salvar' : 'Cadastrar' }}
    </button>
    <button *ngIf="responsibilityId" routerLink="../../" class="fullWidth mat-elevation-z4" mat-stroked-button color="warn">Cancelar</button>    
    <button *ngIf="!responsibilityId" routerLink="../" class="fullWidth mat-elevation-z4" mat-stroked-button color="warn">Cancelar</button>
  </form>

</div>
