<!-- home.component.html -->
<div class="container">
  <h1>Bem-vindo à Tela Inicial</h1>
  <p>Aqui estão algumas informações importantes:</p>
  <ul>
    <li>Informação 1</li>
    <li>Informação 2</li>
    <li>Informação 3</li>
  </ul>

  <h2>Dashboard</h2>

  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Projeção Profissional</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button (click)="goToAppointment()">Clique aqui</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Card 2</mat-card-title>
    </mat-card-header>
    <mat-card-content> Conteúdo do Card 2 </mat-card-content>
  </mat-card>

  <!-- Adicione mais cards conforme necessário -->
</div>
