.card {
  width: 90%;
  margin: 1rem auto;
  background-color: rgb(235, 235, 235);
}

img {
  height: 20rem;
}

mat-grid-tile {
  .mat-grid-tile-content {
    width: 90%;
    justify-content: flex-start;

    mat-form-field {
      width: 100%;
    }
  }
}

mat-grid-list {
  width: 90%;
  margin: auto;
}

.grid-button {
  .mat-grid-tile-content {
    width: 90%;
    justify-content: start;
  }

  button {
    margin-right: 8px;
  }
}
