<mat-drawer-container class="container" autosize>
   <mat-drawer #drawer class="sidenav" mode="side">
      <img src="assets/img/side-image.svg" alt="Imagem de navegação">

      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="home">
          <i class="material-icons">home</i>
          Home
        </a>

        <a mat-list-item routerLink="appointment">
          <i class="material-icons">check_circle</i>
          Tabela de Avaliação
        </a>

        <a mat-list-item routerLink="task">
          <i class="material-icons">add_task</i>
          Tarefas
        </a>

        <a mat-list-item routerLink="company">
          <i class="material-icons">apartment</i>
          Unidades
        </a>

        <a mat-list-item routerLink="person">
          <i class="material-icons">person_add</i>
          Colaborador
        </a>

        <a mat-list-item routerLink="">
          <i class="material-icons">badge</i>
          Funções
        </a>

        <a mat-list-item routerLink="assignment">
          <i class="material-icons">support_agent</i>
          Atribuições
        </a>

        <a mat-list-item routerLink="responsibility">
          <i class="material-icons">assignment_ind</i>
          Responsabilidades
        </a>

        <a mat-list-item routerLink="company">
          <i class="material-icons">pie_chart</i>
          Relatórios
        </a>

        <a mat-list-item routerLink="company">
          <i class="material-icons">folder_open</i>
          Documentos
        </a>

        <a mat-list-item routerLink="company">
          <i class="material-icons">create_new_folder</i>
          Adicionar Documentos
        </a>

        <a mat-list-item (click)="logout()">
          <i class="material-icons">logout</i>
          Logout
        </a>
      </mat-nav-list>
   </mat-drawer>

   <div class="sidenav-content">
      <app-header></app-header>
      <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
         <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
   </div>

</mat-drawer-container>
