:host {
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar-item-spacer {
  flex: 1 1 auto;
  color: white;
}

.app-container {
  height: 100%;
  margin: 0;
}

.app-sidenav {
  width: 250px;
  background: var(--primary);
  color: var(--white);

  span {
    color: var(--white);
  }
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mat-expansion-panel {
  background: var(--primary);
  color: var(--white);

  .mat-expansion-indicator::after {
    color: var(--white);
  }
}

.mat-list-item {
  .mat-icon {
    padding-right: 10px;
  }
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

img {
  border-radius: 100%;
}

.btn-picture {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

a {
  color: var(--white);
  text-decoration: none;
}

.mat-subheader {
  color: var(--white);
  font-weight: 200;
}

.icon-display {
  color: var(--white);
}

mat-toolbar {
  background-color: var(--primary);
  color: var(--white);
}
