/* You can add global styles to this file, and also import other style files */

@import "../node_modules/ngx-toastr/toastr.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary: #3f51b5;
  --accent: #ff4081;
  --warn: #f44336;
  --white: #fff;
  --red-appointment: #f44336;
  --orange-appointment: #ff723b;
  --yellow-appointment: #ffd700;
  --green-appointment: #7cfc00;
  --blue-appointment: #36aad7;
}
