<div class="container mat-elevation-z8">

  <form class="form">

    <h1 class="fullWidth">{{ segmentId ? 'Editar Segmento: ' + segment.name : 'Cadastrar Segmento' }}</h1>

    <img class="fullWidth" src="assets/img/tecnico-create.svg" alt="Cadastrar Segmentos">

    <mat-form-field class="fullWidth" appearance="legacy">
      <mat-label>Nome</mat-label>
      <input
        [(ngModel)]="segment.name"
        name="name"
        [formControl]="name"
        required
        matInput
        placeholder="Ex. Nome do Segmento"
        maxlength="100" >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <button (click)="openSegmentForm()" [disabled]="!validateFields()" class="fullWidth mat-elevation-z4" mat-flat-button color="primary">
      {{ segmentId ? 'Salvar' : 'Cadastrar' }}
    </button>
    <button *ngIf="segmentId" routerLink="../../" class="fullWidth mat-elevation-z4" mat-stroked-button color="warn">Cancelar</button>    
    <button *ngIf="!segmentId" routerLink="../" class="fullWidth mat-elevation-z4" mat-stroked-button color="warn">Cancelar</button>
  </form>

</div>
